[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kondzioski
[access "refs/for/refs/*"]
	read = group user/kondzioski
	push = group user/kondzioski
	label-Code-Review = -2..+2 group user/kondzioski
	label-Verified = -1..+1 group user/kondzioski
	rebase = group user/kondzioski
	removeReviewer = group user/kondzioski
	submit = group user/kondzioski
[access "refs/heads/*"]
	read = group user/kondzioski
	create = group user/kondzioski
	push = +force group user/kondzioski
	pushMerge = group user/kondzioski
[access "refs/tags/*"]
	push = group user/kondzioski
	push = +force group user/kondzioski
